html, body {
    height: 100%;
}

#top {
    margin-bottom: 0;
}

.navbar-toggle {
    border-color: #DDDDDD;
}

.navbar-toggle:hover, .navbar-toggle:focus {
    background-color: #DDDDDD;
}

.navbar-toggle .icon-bar {
    background-color: #888888;
}

#content header {
    border-bottom: 1px solid #EEEEEE;
}

#content article {
    margin-bottom: 60px;
}

#content a {
    text-decoration: none;
}

#content span {
    margin-right: 5px;
}
#content span:last-child {
    margin-left: 5px;
}

pre {
    background-color: #f9f2f4;
    color: #c7254e;
}

p code {
    border: 1px solid #ccc;
    padding: 9.5px;
    display: block;
}

.page-content {
    margin-top: 30px;
}

#toc > .nav {
    margin-top: 20px;
    margin-bottom: 20px;
}

#btt {
    display: block;
}

.bs-docs-header {
    background-color: #428BCA;
    background-image: none;
}

.affix-top {
    margin-top: 10px;
}

.affix {
    top: 20px;
}

.affix-bottom {
    position: relative;
    top: 0px;
}

#footer {
    background-color: #428BCA;
    height: 10%;
}

#content {
    min-height: 42.1%;
}

#logo h1 {
    color: #ffffff;
    font-size: 60px;
}

#logo p {
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
}

#logo {
    background-color: #428BCA;
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 24px;
    text-align: left;
}