.config {
    width: 50%;
    margin: auto;
    padding-bottom: 78px;
}

.config > h1, .config > p {
    text-align: center;
}

.config span, #user-update-form span {
    color: red;
}

.help-block {
    color: red;
    text-align: center;
    margin-top: 10px;
}

.login {
    width: 300px;
    margin: auto;
    margin-top: 8%;
    padding-bottom: 78px;
}

#login-form > button, .config > a, .config button, #user-update-form button, #settings-update-form button {
    float: right;
}

#install-form th {
    white-space: nowrap;
}

textarea.form-control {
    height: 250px;
    margin-bottom: 30px;
}

#admin-header {
    padding-top: 10px;
}

.admin-title a, .admin-welcome > a {

}

.dropdown-menu li > a {
    text-align: left;
}

#admin-header > .container, #admin-footer > .container {
    text-align: center;
}

.nav > .admin-page-name {
    display: inline-block;
}

.nav > li > a {
    display: inline;
    padding: 0;
}

.open > .dropdown-menu > li > a  {
    text-align: center;
}

.navbar-nav.navbar-right:last-child {
    margin: 0;
}

#admin-content, #edit-page, #user-account {
    width: 60%;
    margin: auto;
}

.edit-button {
    float: right;
}

#new-page-button {
    float: right;
}

#admin-content .table td:last-child, #user-update-form > .table th {
    white-space: nowrap;
}
